body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: lightgrey;
}
.menu {
    height: 100vh;
    width: 96px;
    background-color: #000;
    position: fixed;

}
.wrap {
    margin-left: 96px;
    padding: 30px;
    color: #000;
}